.container {
	display: flex;
	justify-content: space-between;
	height: 56px;
	padding-right: 8px;

	& + .container {
		margin-top: 16px;
	}

	.info {
		display: flex;
		gap: 12px;
		flex: 1;

		// .image {
		// 	width: 56px;
		// 	height: 56px;
		// 	border-radius: 8px;
		// }

		.name {
			color: #2f3643;
			font-weight: 600;
			font-size: 15px;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-word;
		}

		.qlt {
			color: #2f3643;
			font-weight: 500;
			font-size: 14px;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-word;
		}

		.amount {
			font-weight: 500;
			font-size: 12px;
			color: #788a9b;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-word;
			font-style: italic;
		}
	}

	.control {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.trash {
		cursor: pointer;
		color: #7e8995;
		transition: 0.3s;

		&:hover {
			color: #ff6a55;
		}
	}

	.edit {
		cursor: pointer;
		color: #7e8995;
		transition: 0.3s;

		&:hover {
			color: #2f3643;
		}
	}
}
