.container {
	position: relative;
	padding: 20px;
	width: 544px;
	background: #ffffff;
	box-shadow: 0px 37px 48px rgba(82, 103, 118, 0.04),
		0px 12px 16px rgba(82, 103, 118, 0.03),
		0px 8px 10px rgba(82, 103, 118, 0.02),
		0px 6px 4px rgba(82, 103, 118, 0.03),
		0px 4px 2px rgba(82, 103, 118, 0.0249673),
		0px 2px 1px rgba(82, 103, 118, 0.0196587);
	border-radius: 16px;

	.title {
		font-weight: 700;
		font-size: 24px;
		color: #303b48;
		margin-bottom: 12px;
	}

	.group_btn {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 20px;

		.btn {
			cursor: pointer;
			user-select: none;
			display: flex;
			align-items: center;
			gap: 6px;
			padding: 8px 12px;
			border: 1.5px solid #edf2f6;
			border-radius: 5px;
			background: #f8f8f8;
			transition: 0.3s;

			&:hover {
				background: #eeeeee;
				border: 1.5px solid transparent;
			}

			&:active {
				transform: scale(0.9);
			}
		}

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.text_btn {
			font-size: 13px;
			color: #303c4f;
			font-weight: 600;
		}
	}

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 12px;

		.title_top {
			font-weight: 600;
			font-size: 18px;
			color: #303c4f;
		}
	}

	.item {
		display: flex;
		// align-items: center;

		& + .item {
			margin-top: 10px;
		}

		p:nth-child(1) {
			min-width: 120px;
		}

		.tag {
			font-weight: 500;
			font-size: 14px;
			color: #303c4f;
			// display: -webkit-box;
			// -webkit-line-clamp: 1;
			// -webkit-box-orient: vertical;
			// overflow: hidden;
			// text-overflow: ellipsis;
			// word-break: break-word;
		}
	}

	.line {
		width: 100%;
		height: 1px;
		background-color: #eaeef3;
		margin: 20px 0;
	}

	.head {
		font-weight: 600;
		font-size: 18px;
		color: #303c4f;
		margin-bottom: 8px;
	}

	.user_info {
		display: flex;
		gap: 12px;

		.avatar {
			position: relative;
			width: 48px;
			height: 48px;

			.image {
				border-radius: 50%;
			}
		}

		.gender {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #ff6a55;
			border: 2px solid #ffffff;

			&.male {
				background: #42d684;
			}
		}

		.icon_female {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.box_des {
			.name {
				font-weight: 600;
				font-size: 16px;
				color: #303c4f;
				margin-bottom: 4px;
			}

			.des_item {
				display: flex;
				align-items: center;
				gap: 6px;
				color: #7e8995;

				& + .des_item {
					margin-top: 4px;
				}

				.icon_des {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.text_des {
					font-weight: 500;
					font-size: 14px;
				}
			}
		}
	}

	.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.doctorConclusion {
		font-style: italic;
		font-weight: 400;
		font-size: 13px;
		color: #4d5a66;
		margin-bottom: 4px;
	}

	.des {
		font-weight: 400;
		font-size: 14px;
		color: #4d5a66;
		margin-bottom: 12px;
	}

	.close {
		cursor: pointer;
		user-select: none;
		position: absolute;
		top: 16px;
		right: 16px;
	}
}
