.box_code {
	width: fit-content;
}

.countDown {
	margin-top: 20px;
	font-weight: 500;
	font-size: 16px;
	color: #303b48;
}

.btn {
	margin-top: 20px;
	width: fit-content;
}

.textGreen {
	color: #0071ce;
}

.btnOtp {
	cursor: pointer;
	user-select: none;
}
