.container {
	position: relative;
	width: 100%;
	padding: 10px 12px;
	font-weight: 500;
	font-size: 13px;
	color: #303c4f;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 3px;
	z-index: 10;

	&.active {
		background: rgba(199, 229, 255, 0.5);
		&:hover {
			background: rgba(199, 229, 255, 0.5);
		}
	}

	&:hover {
		background: rgba(221, 239, 255, 0.5);
	}
}

@media (max-width: 1023px) {
	.container {
		font-size: 13px;
	}
}
