.container {
	width: 70%;
}

.title {
	margin-top: 4px;
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 14px;
	color: #4d5a66;
}

.inputElement {
	& + .inputElement {
		margin-top: 16px;
	}

	.label {
		display: block;
		font-weight: 500;
		font-size: 14px;
		color: #4d5a66;
		margin-bottom: 8px;

		span {
			font-size: 16px;
		}
	}
}

.btn {
	margin-top: 20px;
	width: fit-content;
}
