@import '../../../../styles/variables';

.container {
	position: relative;
	background-color: #ffffff;
	background-image: url('../../../../public/static/images/bg_hello.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	padding: 47px 17px;
	border-radius: 10px;
}

.text {
	position: relative;
	h3 {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		color: #1a242d;

		span {
			color: #0071ce;
		}
	}

	p {
		font-size: 14px;
		color: #7e8995;
		margin-top: 6px;
	}

	.hand {
		position: absolute;
		width: 28px;
		height: 28px;
		top: 0;
		right: -36px;
	}
}

.img {
	position: absolute;
	width: 25%;
	right: 14px;
	bottom: 0;
}

@media (max-width: $widthTablet) {
	.container {
		padding: 26px 16px;
	}

	.text {
		h3 {
			font-size: 20px;
		}

		p {
			font-size: 14px;
		}
	}

	.img {
		width: 18%;
	}
}
