.containner {
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: #ffffff;
	border: 1.5px solid #edf2f6;
	border-radius: 8px;
	padding: 4px 8px;
	font-size: 12px;
	height: 32px;
	transition: 0.3s;

	&:hover {
		background-color: rgba(244, 244, 244, 0.5);
		border: 1.5px solid #d2f9fc;
	}

	&.active {
		border: 1.5px solid #d2f9fc;
	}

	.text {
		font-weight: 500;
		min-width: 90px;
		font-size: 12px;
		color: #515c69;
		transition: 0.3s;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
	}

	.time {
		color: #303b48;
		font-weight: 600;
		font-size: 12px;
		transition: 0.3s;
	}

	.box_icon {
		color: #515c69;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s;

		&.down {
			transform: rotate(180deg);
		}
	}
}
