@import '../../../styles/variables';

.container {
	height: calc(100vh - $height-header - ($padding * 3));
	display: grid;
	grid-template-columns: 240px 1fr;
	background: #ffffff;
	border-radius: 10px;
	padding: 12px 0;
}

.main {
	padding-left: 32px;
}

.title {
	font-weight: 700;
	font-size: 20px;
	color: #303c4f;
	margin-bottom: 4px;
}
