.container {
	width: 360px;
	padding: 24px;
	background: #ffffff;
	box-shadow: 0px 37px 48px rgba(82, 103, 118, 0.04),
		0px 12px 16px rgba(82, 103, 118, 0.03),
		0px 8px 10px rgba(82, 103, 118, 0.02),
		0px 6px 4px rgba(82, 103, 118, 0.03),
		0px 4px 2px rgba(82, 103, 118, 0.0249673),
		0px 2px 1px rgba(82, 103, 118, 0.0196587);
	border-radius: 10px;

	.image {
		padding-bottom: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.title {
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		color: #303b48;
		margin-bottom: 10px;
	}

	.text {
		text-align: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		color: #7e8995;
	}

	.groupBtnPopup {
		margin-top: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}
}
