.container {
	.back {
		cursor: pointer;
		user-select: none;
		width: 56px;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #efefef;
		border-radius: 8px;
		color: #414c59;
		margin-bottom: 20px;
		transition: 0.3s;

		&:hover {
			background: #ece9e9;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	.title {
		color: #1a242d;
		font-weight: 700;
		font-size: 32px;
	}

	.progress {
		margin-top: 12px;
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		gap: 8px;

		.item_step {
			width: 54px;
			height: 10px;
			background: #efefef;
			border-radius: 10px;

			&.step {
				background: #0071ce;
			}
		}
	}

	.des {
		font-weight: 500;
		font-size: 16px;
		color: #4d5a66;
	}

	.form {
		margin-top: 20px;
	}
}
