.container {
	width: fit-content;
	border-radius: 6px;
	padding: 4px 8px;
	display: flex;
	align-items: center;
	gap: 6px;
	white-space: nowrap;

	&.cho_xu_ly {
		background: #ffb800;
	}

	&.dang_xu_ly {
		background: #00b2ff;
	}

	&.da_xu_ly {
		background: #00da8b;
	}

	.dot {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #fff;
	}

	.title {
		font-weight: 500;
		font-size: 14px;
		color: #fff;
	}
}
