@import '../../../styles/variables';

.tfoot {
	user-select: none;
	display: flex;
	margin-top: 12px;
	align-items: center;
	color: #d2d2d2;

	b {
		color: #232e44;
	}

	> * {
		flex: 0 0 fit-content;
	}

	> .expan {
		flex: 1 1 fit-content;
	}
	.limit_info {
		display: flex;
		align-items: center;
		height: fit-content;
		font-weight: 400;
		font-size: 14px;
		color: #7e8995;
	}
	.limit {
		select {
			margin-right: 8px;
			margin-left: 4px;
		}
	}
	.pagination {
		display: flex;
		gap: 16px;
		flex-wrap: nowrap;
		align-items: center;
		font-weight: 400;
		font-size: 14px;
		color: #7e8995;

		.groupControls {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.page {
			height: 34px;
			width: 34px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 14px;
			font-weight: 600;
			border-radius: 4px;
			background-color: #efefef;
			pointer-events: none;
			cursor: default;
			border: 1px solid #efefef;
			// margin-right: 8px;
		}

		.prev_next {
			display: flex;
			flex-wrap: nowrap;
			gap: 6px;

			.prev,
			.next {
				cursor: pointer;
			}

			> * {
				height: 34px;
				width: 34px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 14px;
				font-weight: 600;
				border-radius: 4px;
				border: 1px solid #efefef;
				color: #586887;
			}

			> *.active {
				border: 1px solid #2a85ff;
				background-color: #2a85ff;
				color: #fff;
			}
			> *:first-child {
				border-radius: 4px 0px 0px 4px;
			}
			> *:last-child {
				border-radius: 0px 4px 4px 0px;
			}
		}
	}
}

@media (max-width: $widthTablet) {
	.tfoot {
		flex-direction: column;
		align-items: stretch;

		> .expan {
			flex: 1;
		}
		.limit {
			margin-bottom: 8px;
		}
		.limit_info {
			display: flex;
			// flex-direction: column;
			align-items: flex-start;
		}
		.pagination {
			// margin-top: 8px;
			flex: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

@media (max-width: $widthMobile) {
	.tfoot {
		flex-direction: column;
		align-items: stretch;

		> .expan {
			flex: 1;
		}
		.limit {
			margin-bottom: 8px;
		}
		.limit_info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.pagination {
			margin-top: 8px;
			flex: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
