$light: #fff;
$dark: rgb(0, 0, 0);
$focus: #0060af;
$danger: #fe2c2c;
$danger_2: #d5444a;
$danger_3: #d5444a;
$primary: #2a85ff;
$primary_1: #004075;
$primary_2: #0071ce;
$primary_3: #103456;
$primary_4: #003561;
$secondary_1: #f2a67e;
$secondary_2: #b8a7fc;
$secondary_3: #7cc3e1;
$secondary_4: #969696;
$secondary_5: #eeeeee;
$secondary_6: #c8c4c4;
$secondary_7: #f3f3f3;
$secondary_8: #ff6a55;
$secondary_9: #1c72b8;

$neutrals: #535763;
$neutral_1: #29303c;
$neutral_2: #6f767e;
$neutral_3: #2f3643;
$neutral_4: #b1b5c3;
$neutral_5: #edf2f6;
$neutral_6: #8496ac;
$neutral_7: #1a1b2d;

$success: #00c621;

$light_blue: #86b6ff;
$light_blue_2: #e3f1ff;

$bg_color: #f4f5f6;
