$heightHeader: 72px;
$headerContact: 40px;
$widthSideBar: 370px;
$widthTablet: 1200px;
$widthMobile: 768px;

// baselayout
$height-header: 64px;
$width-tab: 240px;
$width-tab-hidden: 68px;
$duration: 0.1s;
$padding: 20px;
$paddingMobile: 8px;
